body {
  margin: 10px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.console {
  border: 1px solid black;
  height: 80px;
  padding: 2px;
  bottom: 10px;
  position: absolute;
  text-align: left;
  width: calc(100% - 20px);
  border-radius: 5px;
}
.console::before {
  content: "Console :";
  position: absolute;
  top: -20px;
  font-size: 12px;
}
.console > p {
  margin: 0.5em;
  word-wrap: break-word;
}