.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.console {
  border: 1px solid black;
  height: auto;
  padding: 2px;
  bottom: 10px;
  position: absolute;
  text-align: left;
  width: calc(100% - 20px);
  border-radius: 5px;
}
.console::before {
  content: "Console :";
  position: absolute;
  top: -20px;
  font-size: 12px;
}
.console > p {
  margin: 0.5em;
  word-wrap: break-word;
}

.verifier {
  margin: 20px;
}
